.nav-text{
    color:#9f105c;
}
.navyblue{
    background-color:navy;
}
.navyblueText{
    color:navy;
}
.lightgray{
    background-color: lightgrey;
}
.lightblue{
    background-color: lightblue;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
}
#aboutme h5{
    font-family:"Arial Narrow";
    color:navy;
}